<h3 class="section-title" fxLayoutAlign="center">Sua seleção especial</h3>
<div class="products-container">
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>

    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>

    <div fxLayout="column" fxLayoutAlign="space-around center" class="load-more-products-button">
        <button mat-stroked-button>Ainda mais produtos aqui!</button>
    </div>
</div>