.header {
  height: 40%;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  width: 100%;

  .text-header {
    p {
      color: #ffffff;
      font-family: Regular 20px/24px Helvetica Neue;

      &.intro {
        font-size: 20px;
      }

      &.big-text {
        font-size: 40px;
      }

      &.resume {
        padding-top: 2%;
        font-size: 18px;
      }
    }
  }
  .nav-buttons {
    width: 65%;
    margin: 4% auto 0 auto;

    button {
      color: #888888;
      background-color: #ffffff;
      border: 1px solid #707070;
      border-radius: 4px;
      width: 145px;
    }
  }
}

.footer {
  height: 15%;
  background-color: #707070;
  border: 1px solid #707070;
  opacity: 1;
  width: 100%;
  position: block;
  bottom: 0;

  small {
    font-family: Regular 20px/24px Helvetica Neue;
    color: #ffffff;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    height: 50%;
    .text-header {
      p {
        &.intro {
          font-size: 18px;
        }

        &.big-text {
          font-size: 30px;
        }

        &.resume {
          text-align: center;
          font-size: 15px;
          padding-top: 5%;
        }
      }
    }

    .nav-buttons {
      width: 90%;
      margin: 0 auto;
      margin-top: 10%;

      button {
        font-size: 13px;
        width: 0;
      }
    }
  }

  .footer {
    position: relative;
    
    small {
      font-size: 12px;
    }
  }
}
