<div fxLayout="column" fxLayoutAlign="center" class="header">
    <div fxLayout="column" fxLayoutAlign="center center" class="text-header">
        <p class="intro">Uma seleção de produtos</p>
        <p class="big-text">especial para você</p>
        <p class="resume">Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="nav-buttons">
        <button mat-stroked-button fxFlex="20">Conheça a Linx</button>
        <button mat-stroked-button fxFlex="20">Ajude o algorítimo</button>
        <button mat-stroked-button fxFlex="20">Seus produtos</button>
        <button mat-stroked-button fxFlex="20">Compartilhe</button>
    </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center">
    <router-outlet></router-outlet>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="footer">
    <div fxLayout="column" fxLayoutAlign="center center">
        <small>Testando suas habilidades em HTML, CSS e JS.</small>
        <small>Linx Impulse</small>
        <small>2019</small>
    </div>
</div>