<div fxLayout="column" fxLayoutAlign="center" class="header">
    <div fxLayout="column" fxLayoutAlign="center center" class="text-header">
        <p class="intro">Uma seleção de produtos</p>
        <p class="big-text">especial para você</p>
        <p class="resume">Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="nav-buttons">
        <button mat-stroked-button (click)="openAboutLinx()">
            <!-- If the screen is bigger than 700px, this text appears inside the button -->
            <span *ngIf="!isMobile">Conheça a Linx</span>
            <!-- If the screen is smaller than 700px, this icon appear inside the button -->
            <mat-icon *ngIf="isMobile">info</mat-icon>
        </button>
        <div fxFlex="5"></div>
        <button mat-stroked-button>
            <span *ngIf="!isMobile">Ajude o algorítimo</span>
            <mat-icon *ngIf="isMobile">trending_up</mat-icon>
        </button>
        <div fxFlex="5"></div>
        <button mat-stroked-button>
            <span *ngIf="!isMobile">Seus produtos</span>
            <mat-icon *ngIf="isMobile">shopping_cart</mat-icon>
        </button>
        <div fxFlex="5"></div>
        <button mat-stroked-button>
            <span *ngIf="!isMobile">Compartilhe</span>
            <mat-icon *ngIf="isMobile">share</mat-icon>
        </button>
    </div>
</div>

<div fxLayout="column" fxLayoutAlign="center none">
    <router-outlet></router-outlet>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="footer">
    <div fxLayout="column" fxLayoutAlign="center center">
        <small>Testando suas habilidades em HTML, CSS e JS.</small>
        <small>Linx Impulse</small>
        <small>2019</small>
    </div>
</div>