<div fxLayout="column" fxLayoutAlign="center center" class="item-container">
    <div class="photo">
        <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=6506376">
    </div>
    <div class="product-info">
        <h3 class="product-name">Product Number 0</h3>

        <p class="description">Product long description number 0 just to make more than one like of text.</p>

        <div class="price">
            <small>De: R$334,00</small>
            <h3>Por: R$287,00</h3>
            <small>ou 10x de R$28,70</small>
        </div>
    </div>
    <div class="buy-section">
        <button mat-stroked-button>Comprar</button>
    </div>
</div>