<div fxLayout="column" fxLayoutAlign="center">
    <h3 class="section-title" fxLayoutAlign="center">Compartilhe a novidade</h3>

    <p fxLayoutAlign="center">Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!</p>

    <div [fxLayout]="isMobile ? 'column' : 'row'" fxLayoutAlign="center center" class="form">
        <mat-form-field fxFlex="45" appearance="outline" floatLabel="always">
            <mat-label>Nome do seu amigo</mat-label>
            <input matInput>
        </mat-form-field>
        <div *ngIf="!isMobile" fxFlex="10"></div>
        <mat-form-field fxFlex="45" appearance="outline" floatLabel="always">
            <mat-label>E-mail</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around center" class="send-button">
        <button mat-stroked-button>Enviar agora</button>
    </div>

</div>